<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>专题列表</title>
    <link href="/login/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/login/public//static/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <style type="text/css">
        .display{width:96%;height:100%;align-self: center}
    </style>
</head>
<body>
<div class="display">
    <div class="row">
        <div class="col-sm-12">
            <!--&lt;!&ndash;搜索框开始&ndash;&gt;-->
            <!--<form id='commentForm' role="form" method="post" class="form-inline">-->
                <!--<div class="content clearfix m-b">-->
                    <!--<div class="form-group">-->
                        <!--<label>专题名称：</label>-->
                        <!--<input type="text" class="form-control" id="aname" name="aname">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<button class="btn btn-primary" type="button" id="search"><strong>搜 索</strong>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
            <!--&lt;!&ndash;搜索框结束&ndash;&gt;-->
            <table  class="table table-" border="0" cellspacing="0">
                <thead>
                <br>
                <br>
                <button type="button" class="btn btn-info" onclick="addZt()">添加专题</button>
                <tr>
                    <th>专题ID</th>
                    <th>专题名</th>
                    <th>是否可分享</th>
                    <th>专题类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="zt_list" item = "vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.yes_no}</td>
                    <td>{$vo.type_name}</td>
                    <td>
                        <!--//window.open('http://localhost/login/public/index.php/gzck/Worldcup/show/id/{$vo.id}','_self')-->
                        <button type="button" class="btn btn-primary" onclick="ztType({$vo.id},{$vo.type_id})">管理</button>
                        <!--<button type="button" class="btn btn-info" onclick="addZt({$vo.id})">增加</button>-->
                        <button type="button" class="btn btn-primary" onclick="editZt({$vo.id})">编辑</button>
                        <!--<a href="">-->
                            <!--<button type="button" class="btn btn-danger">删除</button>-->
                        <!--</a>-->
                        <button type="button" class="btn btn-danger" onclick="delZt({$vo.id})">删除</button>
                        <button type="button" class="btn btn-info" onclick="viewZt({$vo.id},{$vo.type_id})">预览</button>
                        <button type="button" class="btn btn-primary" onclick="scanZt({$vo.id},{$vo.type_id})">扫码</button>
                        <button type="button" class="btn btn-primary" onclick="slideZt({$vo.id},{$vo.type_id})">幻灯片</button>

                        <!--<button type="button" id="btn_url" class="btn btn-info" onclick="copyZt({$vo.id},{$vo.type_id})">复链</button>-->
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        {$zt_list->render()}
    </div>
</div>

<script src="/login/public/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/login/public/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/login/public/static/layer/layer.js"></script>
<!-- 页面层增加zt开始 -->
<div class="form-horizontal col-sm-12" id="box" style="display:none;margin-top: 18px">
    <div class="form-group">
        <label for="name" class="col-sm-12 ">专题名：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control"  id="name" placeholder="专题名">
        </div>
    </div>
    <div class="form-group">
        <label for="yes_no" class="col-sm-12 ">是否可分享：</label>
        <div class="col-sm-8" id="yes_no" >
            <input type="radio"  name="yes_no"  value="是" checked="true" >是
            <input type="radio"  name="yes_no"  value="否" >否
        </div>
    </div>
    <div class="form-group">
        <label for="type_id" class="col-sm-12 ">专题类型：</label>
        <div class="col-sm-8" >
           <select id="type_id"  class="form-control">
               <option value="1" selected="selected">时间轴类型</option>
               <option value="2" selected="selected">运动类型</option>
           </select>
        </div>
    </div>
    <div class="form-group">
        <label for="bg_image" class="col-sm-12 ">背景图链接：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="bg_image" placeholder="背景图链接">

        </div>
    </div>
    <div class="form-group">
        <label for="top_image" class="col-sm-12 ">顶部图链接：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="top_image" placeholder="顶部图链接">
        </div>
    </div>
    <div class="form-group">
        <label for="share_title" class="col-sm-12 ">分享标题：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="share_title" placeholder="分享标题">
        </div>
    </div>
    <div class="form-group">
        <label for="share_des" class="col-sm-12 ">分享描述：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="share_des" placeholder="分享描述">
        </div>
    </div>
    <div class="form-group">
        <label for="share_image" class="col-sm-12 ">分享图片：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="share_image" placeholder="分享图片">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-5">
            <button type="button" class="btn btn-info" id="btn">保存</button>
        </div>
    </div>
</div>
<!-- 页面层增加专题结束 -->

<!-- 页面层编辑专题开始 -->
<div class="form-horizontal col-sm-12" id="edit_box" style="display:none;margin-top: 15px">
    <input type="hidden" id="id">
    <div class="form-group">
        <label for="e_name" class="col-sm-12 ">专题名：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="e_name" placeholder="专题名">
        </div>
    </div>
    <div class="form-group">
        <label for="e_yes_no" class="col-sm-12">是否可分享：</label>
        <div class="col-sm-8" id="e_yes_no">
            <input type="radio"  name="e_yes_no"  value="是" checked="true">是
            <input type="radio"  name="e_yes_no"  value="否" >否
        </div>
    </div>
    <div class="form-group">
        <label for="e_type_id" class="col-sm-12">专题类型：</label>
        <div class="col-sm-8">
           <select id="e_type_id" class="form-control" >
               <option value="1" selected="selected">时间轴类型</option>
               <option value="2" selected="selected">运动类型</option>
           </select>
        </div>
    </div>
    <div class="form-group">
        <label for="e_bg_image" class="col-sm-12 ">背景图链接：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="e_bg_image" placeholder="背景图链接">
            <form action="/index/zt/upload" enctype="multipart/form-data" method="post">
                <input type="file" name="image"/><br>
                <input type="submit" value="上传"/>
            </form>
        </div>
    </div>
    <div class="form-group">
        <label for="e_top_image" class="col-sm-12 ">顶部图链接：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="e_top_image" placeholder="顶部图链接">
        </div>
    </div>
    <div class="form-group">
        <label for="e_share_title" class="col-sm-12 ">分享标题：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="e_share_title" placeholder="分享标题">
        </div>
    </div>
    <div class="form-group">
        <label for="e_share_des" class="col-sm-12 ">分享描述：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="e_share_des" placeholder="分享描述">
        </div>
    </div>
    <div class="form-group">
        <label for="e_share_image" class="col-sm-12 ">分享图片：</label>
        <div class="col-sm-8" >
                <input type="text" class="form-control"  id="e_share_image" placeholder="分享图片">
        </div>
    </div>
    <div class="col-sm-offset-5 col-sm-5" >
         <button type="button" class="btn btn-info" id="btn_edit">保存</button>
    </div>
</div>
<!-- 页面层编辑专题结束 -->
<!-- 页面层幻灯片开始 -->
<div class="form-horizontal col-sm-12" id="slide_box" style="display:none;margin-top: 15px">
    <input type="hidden" id="id">
    <div class="form-group">
        <label for="slide_name" class="col-sm-12 ">幻灯片名：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="slide_name" placeholder="幻灯片名">
        </div>
    </div>
    <div class="form-group">
        <label for="slide_add" class="col-sm-12">跳转地址(不设置不跳转)：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="slide_add" placeholder="跳转地址">
        </div>
    </div>
    <div class="form-group">
        <label for="slide_image1" class="col-sm-12 ">幻灯片1链接：</label>
        <div class="col-sm-8" >
            <input type="text" class="form-control"  id="slide_image1" placeholder="幻灯片1链接">
            <form action="/index/zt/upload" enctype="multipart/form-data" method="post">
                <input type="file" name="image"/><br>
                <input type="submit" value="上传"/>
            </form>
        </div>
    </div>
    <div class="form-group">
        <label for="slide_image2" class="col-sm-12 ">幻灯片2链接：</label>
        <div class="col-sm-8" >
            <input type="text" class="form-control"  id="slide_image2" placeholder="幻灯片2链接">
        </div>
    </div>
    <div class="form-group">
        <label for="slide_image3" class="col-sm-12 ">幻灯片3链接：</label>
        <div class="col-sm-8" >
            <input type="text" class="form-control"  id="slide_image3" placeholder="幻灯片3链接">
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-offset-5 col-sm-5" >
            <button type="button" class="btn btn-info" id="slide_save">保存</button>
        </div>

    </div>
</div>
<!-- 页面层幻灯片结束 -->
<script>
    // 页面层幻灯片
    var box;
    function slideZt(uid, type_id){
        $.getJSON("{:url('Zt/slideZt')}",{uid: uid}, function(res) {
              $("#id").val(res.data.id);
              $("#slide_name").val(res.data.name);
              $("#slide_add").val(res.data.slide_add);
              $("#slide_image1").val(res.data.slide1);
              $("#slide_image2").val(res.data.slide2);
              $("#slide_image3").val(res.data.slide3);

            box = layer.open({
                title: '幻灯片编辑',
                type: 1,
                skin: 'layui-layer-lan', //加上边框
                area: ['600px', '550px'], //宽高
                content: $("#slide_box")
            });
        });
    }
</script>
<script>
    //对幻灯片进行校验
    $(function () {
        $("#slide_save").click(function () {
            console.log(1);
            var id = $("#id").val();
            var name = $("#slide_name").val();
            var slide_add = $("#slide_add").val();
            var slide1 = $("#slide_image1").val();
            var slide2 = $("#slide_image2").val();
            var slide3 = $("#slide_image3").val();
            console.log({type_id:type_id});
            if(''== name){
                layer.tips('幻灯片名不能为空','#name');
                return false;
            }

            $.post("{:url('Zt/slideZt')}",
                {id:id,name:name,slide_add:slide_add,slide1:slide1,slide2:slide2,slide3:slide3},
                function (res) {
                    if(1 == res.code){
                        window.location.reload();
                    }else {
                        layer.alert(res.msg,{icon:2,title: '错误提示'});
                    }
                },'json');
        });

    });
</script>
<script>
    //js图片上传前进行预览
    function previewImage(file) {
        var MAXWIDTH = 120;//最大图片宽度
        var MAXHEIGHT = 120;//最大图片高度
        if( file.files && file.files[0]){
            var img = document.getElementById('preview');
            img.onload = function () {
                var  rect = getZoomParam(MAXWIDTH,MAXHEIGHT,img.offsetHeight,img.offsetWidth);
                img.width = rect.width;
                img.height = rect.height;

            }
            var reader = new FileReader();
            reader.onload = function (evt) {
                img.src = evt.target.result;

            }
            reader.readAsDataURL(file.files[0]);
        }else{
            //兼容IE
            file.select();
            var src = cleardoc.selection.createRange().test;
            var img = document.getElementById('preview');
            img.filters.item('DXImageTransform.Microsof.AlphaImageLoader').src = src;
        }
        //获取图片的尺寸
        function getZoomParam( maxWidth,maxHeight,width,height) {
            var param = {top:0,left:0,width:width,height:height};
            if(width>maxWidth|| height>maxHeight){
                rateWidth = width/ maxWidth;
                rateHeight = height/maxHeight;
                if(rateWidth>rateHeight){
                    param.width = maxWidth;
                    param.height = Math.round(height/rateWidth);
                }else {
                    param.width = Math.round(width/rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth-param.width)/2);
            param.top = Math.round((maxHeight-param.height)/2);
            return param;
        }

    }
</script>
<script>
    //专题类型判断
    function ztType(uid,type_id) {
        if(1==type_id){
            window.open('http://localhost/login/public/index.php/admin/timeline/show/id/'+uid,'_self');
        }
        if(2==type_id){
            window.open('http://localhost/login/public/index.php/admin/sports/show/id/'+uid,'_self')
        }
        if(3==type_id){
            window.open('http://localhost/login/public/index.php/admin/slide/show/id/'+uid,'_self')
        }
    }
</script>
<script>
    // 页面层增加专题
    var box;
    function addZt(){
        $.getJSON("{:url('Zt/addZt')}", function(res) {

            box = layer.open({
                title: '增加同类专题',
                type: 1,
                skin: 'layui-layer-lan', //加上边框
                area: ['600px', '700px'], //宽高
                content: $("#box")
            });
        });
    }
</script>
<!--<script>-->
    <!--// 页面层增加专题-->
    <!--var box;-->
    <!--function addZt(uid){-->
        <!--$.getJSON("{:url('Zt/addZt')}", {uid: uid}, function(res) {-->
            <!--$("#id").val(res.data.id);-->
            <!--$("#name").val(res.data.name);-->
         <!--//   $("#is_share").val(res.data.is_share);-->
            <!--$("#yes_no").val(res.data.yes_no);-->
            <!--$("#type_id").val(res.data.type_id);-->
            <!--$("#bg_image").val(res.data.bg_image);-->
            <!--$("#top_image").val(res.data.top_image);-->
            <!--$("#share_title").val(res.data.share_title);-->
            <!--$("#share_des").val(res.data.share_des);-->
            <!--$("#share_image").val(res.data.share_image);-->

            <!--box = layer.open({-->
                <!--title: '增加同类专题',-->
                <!--type: 1,-->
                <!--skin: 'layui-layer-lan', //加上边框-->
                <!--area: ['600px', '700px'], //宽高-->
                <!--content: $("#box")-->
            <!--});-->
        <!--});-->
    <!--}-->
<!--</script>-->
<script>
    //对专题添加进行校验
    $(function () {
        $("#btn").click(function () {
            console.log(1);
            var name = $("#name").val();
            // var yes_no = ($("#yes_no"));
            var yes_no = $("input:radio[name='yes_no']:checked").val();
            console.log({yes_no:yes_no});
            //  var type_id = $("#type_id").val();
            var type_id = $("#type_id").val();
            var bg_image = $("#bg_image").val();
            var top_image = $("#top_image").val();
            var share_title = $("#share_title").val();
            var share_des = $("#share_des").val();
            var share_image = $("#share_image").val();
            console.log({type_id:type_id});
            if(''== name){
                layer.tips('专题名不能为空','#name');
                return false;
            }
            if(''== yes_no){
                layer.tips('是否可分享不能为空','#yes_no');
                return false;
            }
            if(''== type_id){
                layer.tips('专题不能为空','#type_id');
                return false;
            }
            if(''== bg_image){
                layer.tips('背景图片不能为空','#bg_image');
                return false;
            }
            if(''== top_image){
                layer.tips('顶部图不能为空','#top_image');
                return false;
            }
            if(''== share_title){
                layer.tips('分享标题不能为空','#share_title');
                return false;
            }
            if(''== share_des){
                layer.tips('分享描述不能为空','#share_des');
                return false;
            }
            if(''== share_image){
                layer.tips('分享图片不能为空','#share_image');
                return false;
            }
            console.log({name:name,yes_no:yes_no,type_id:type_id});
            $.post("{:url('Zt/addZt')}",
                {name:name,yes_no:yes_no,type_id:type_id,bg_image:bg_image,top_image:top_image,share_title:share_title,share_des:share_des,share_image:share_image},
                function (res) {
                    if(1 == res.code){
                        window.location.reload();
                    }else {
                        layer.alert(res.msg,{icon:2,title: '错误提示'});
                    }

                },'json');

        });

    });
</script>
<script>

    // 页面层编辑专题
    function editZt(uid){

        $.getJSON("{:url('Zt/editZt')}", {uid: uid}, function(res){
            $("#id").val(res.data.id);
            $("#e_name").val(res.data.name);
           // $("#e_is_share").val(res.data.is_share);
            $("#e_yes_no").val(res.data.yes_no);
            $("#e_type_id").val(res.data.type_id);
            $("#e_bg_image").val(res.data.bg_image);
            $("#e_top_image").val(res.data.top_image);
            $("#e_share_title").val(res.data.share_title);
            $("#e_share_des").val(res.data.share_des);
            $("#e_share_image").val(res.data.share_image);

            box = layer.open({
                title: '编辑专题',
                type: 1,
                skin: 'layui-layer-lan', //加上边框
                area: ['600px', '700px'], //宽高
                content: $("#edit_box")
            });
        });
    }
    //点击编辑专题按钮
    $("#btn_edit").click(function () {
        var id = $("#id").val();
        var name = $("#e_name").val();
        //var is_share = $("#e_is_share").val();
        var yes_no =  $("input:radio[name='e_yes_no']:checked").val();
        var type_id = $("#e_type_id").val();
        var bg_image = $("#e_bg_image").val();
        var top_image = $("#e_top_image").val();
        var share_title = $("#e_share_title").val();
        var share_des = $("#e_share_des").val();
        var share_image = $("#e_share_image").val();
        if ('' == name){
            layer.tips('专题名不能为空','#e_name');
            return false;
        }
        if ('' == yes_no){
            layer.tips('是否可分享不能为空','#yes_no');
            return false;
        }
        if(''== type_id){
            layer.tips('专题不能为空','#type_id');
            return false;
        }
        if(''== bg_image){
            layer.tips('背景图片不能为空','#bg_image');
            return false;
        }
        if(''== top_image){
            layer.tips('顶部图不能为空','#top_image');
            return false;
        }
        if(''== share_title){
            layer.tips('分享标题不能为空','#share_title');
            return false;
        }
        if(''== share_des){
            layer.tips('分享描述不能为空','#share_des');
            return false;
        }
        if(''== share_image){
            layer.tips('分享图片不能为空','#share_image');
            return false;
        }
        console.log({name:name,yes_no:yes_no,type_id:type_id});
        $.post("{:url('zt/editzt')}",
            {
                id:id,
                name:name,
                yes_no:yes_no,
                type_id:type_id,
                bg_image: bg_image,
                top_image: top_image,
                share_title: share_title,
                share_des: share_des,
                share_image: share_image
            },function (res) {
                if (1 == res.code){
                    window.location.reload();
                } else{
                    layer.alert(res.msg,{icon:2,title:'错误提示'});
                }
            },'json');
    });
</script>
<script>
    //删除专题
    function delZt(uid) {
        //询问框
        layer.confirm('确定删除此专题？',{
            title:'友情提示',
            icon:3,
            closeBtn:0,
            btn:['确定','取消']//按钮
        },function () {
            $.getJSON("{:url('zt/delzt')}",{uid:uid},function(res){
                if (1== res.code){
                    window.location.reload();
                } else{
                    layer.alert(res.msg,{icon:2,title:'错误提示'});
                }
            });
        },function () {
        });
    }
</script>

<script>
    // 页面层preview专题
    function viewZt(uid,type_id){
        $.getJSON("{:url('Zt/editZt')}", {uid: uid}, function(res){
            $("#url").val(res.data.url);
            console.log({uid});
            layer.open({
                title: '预览页面',
                type: 2,
                skin: 'layui-layer-demo', //加上边框
                area: ['600px', '850px'], //宽高
                closeBtn:1,
                btn:['复制链接','返回','关闭' ],
                content: viewtype(uid,type_id),
                yes:function(index,layero){
                    // if(1==type_id)
                    // {
                    //     location.href=('/login/public/index.php/wap/timeline/frontshow/id/'+uid);
                    // }
                    // if(2==type_id)
                    // {
                    //     location.href=('/login/public/index.php/wap/sports/frontshow/tid/'+uid);
                    // }
                        const input = document.createElement('input');
                        document.body.appendChild(input);
                        if(1==type_id){
                            input.setAttribute('value','localhost/login/public/index.php/wap/timeline/frontshow/id/'+uid );
                        }
                        if(2==type_id){
                            input.setAttribute('value', 'localhost/login/public/index.php/wap/sports/frontshow/tid/'+uid);

                        }
                        // input.setAttribute('value', '听说你想复制我呀');
                        input.select();
                        if (document.execCommand('copy')) {
                            document.execCommand('copy');
                            console.log('复制成功');
                            alert('复制成功');
                        }
                        document.body.removeChild(input);

                },
                btn2:function(index,ev){
                     var ht = ev[0].innerHTML;
                     var iframeID = $(ht).find('iframe')[0].id;
                     console.log(iframeID);
                    //window[iframeID].history.back();
                    //history.back(iframeID);
                    //parent.document.getElementById(iframeID).contentWindow.history.back();
                     console.log('back success');
                    //window.history.back();
                    window.history.go(-1);
                    console.log('forwards');
                },
                cancel:function(index,layero){
                    // layer.open({content:'执行删除操作'})
                }
            });
        });
    }
    function viewtype(uid,type_id) {
        if(1==type_id){
            return '/login/public/index.php/wap/timeline/frontshow/id/'+uid
        }
        if(2==type_id){
            return '/login/public/index.php/wap/sports/frontshow/tid/'+uid
        }
        if(3==type_id){
            return '/login/public/index.php/wap/sports/frontshow/tid/'+uid
        }
    }
</script>
<script>
    //ios 兼容性问题
    // const btn = document.querySelector('#btn_url');
    // btn.addEventListener('click',() => {
    //     const input = document.createElement('input');
    //     input.setAttribute('readonly', 'readonly');
    //     input.setAttribute('value', 'hello world');
    //     document.body.appendChild(input);
    //     input.setSelectionRange(0, 9999);
    //     if (document.execCommand('copy')) {
    //         document.execCommand('copy');
    //         console.log('复制成功');
    //     }
    //     document.body.removeChild(input);
    // })
    //复制链接
    function copyZt(uid,type_id) {
        const btn = document.querySelector('#btn_url');
        btn.addEventListener('click',() => {
            const input = document.createElement('input');
            document.body.appendChild(input);
            if(1==type_id){
                input.setAttribute('value','/login/public/index.php/wap/timeline/frontshow/id/'+uid );

            }
            if(2==type_id){
                input.setAttribute('value', '/login/public/index.php/wap/sports/frontshow/tid/'+uid);

            }
           // input.setAttribute('value', '听说你想复制我呀');
            input.select();
            if (document.execCommand('copy')) {
                document.execCommand('copy');
                console.log('复制成功');
                alert('复制成功');
            }
            document.body.removeChild(input);
        })
    }
</script>
<script>
    function scanZt(uid,type_id) {

        layer.open({
            title: '扫码展示专题',
            type: 1,
            skin: 'layui-layer-demo', //加上边框
            area: ['205px', '260px'], //宽高
            closeBtn:1,
            content: scanimg(uid,type_id)
        });
        function  scanimg(uid,type_id){
            if(1==type_id){
                var timeline_img ="<img src='/login/application/public/qrcode/BrightKing3a30ea3574a84d87bad9167ea5a1447c.png' id ='timelineimg' width='200px' height='200px'/>"
                return timeline_img;
            }
            if(2==type_id){
                var sports_img ="<img src='/login/application/public/qrcode/BrightKing63dc5db473254c606917c9502c5d5a2d.png' id ='sportsimg' width='200px' height='200px'/>"
                return sports_img;
            }
        }
    }


</script>

</body>
</html>
