<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广州参考幻灯片</title>

    <!-- bootstrap bootstrap-table  jquery -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/bootstrap-table1/bootstrap-table.css">
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="__STATIC__/bootstrap-table1/bootstrap-table.js"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="__STATIC__/bootstrap-table1/bootstrap-table-zh-CN.js"></script>
    <!-- x-editable -->
    <link href="__STATIC__/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="__STATIC__/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <!-- bootstrap extensions table-editable -->
    <script src="__STATIC__/bootstrap-table1/editable/bootstrap-table-editable.js"></script>
    <!-- 所有文件加载结束 -->
    <!-- 配置文件 -->
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>


</head>

<body>
<div style="margin: 50px;">
    <button type="button" class="btn btn-info" onclick="window.open('/index.php/media_admin/Slide/show/id/{$id}','_self')">返回新闻管理</button>
    <br>
    <br>
    <form id="formid" method="post" action="{$POST_URL}">
        <div class="form-group">
            <label>创建日期</label>
            <input type="text" class="form-control" name="date" placeholder="09月21日">
        </div>
        <div class="form-group">
            <label>标题</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>副标题</label>
            <textarea class="form-control" name="sub_title" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label>标题图片链接</label>
            <input type="text" class="form-control" name="image_url">
        </div>
        <div class="form-group">
            <label>文章内容编辑</label>
            <!-- 加载编辑器的容器 -->
            <script id="container" name="content" type="text/plain">
            </script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var editor = UE.getEditor('container');
                // var editor = UE.getContent('container');
            </script>
        </div>
        <div class="form-group">
            <label>状态1有效 0为失效</label>
            <input type="number" class="form-control" name="status" value="1"/>
        </div>
        <div class="form-group">
            <label>排序号</label>
            <input type="number" class="form-control" name="iorder" value="1"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit"> 提交</button>
            <button class="btn btn-info">重置</button>
        </div>
    </form>
</div>
</body>
</html>