<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>广州参考幻灯片</title>

        <!-- bootstrap bootstrap-table  jquery -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="__PUBLIC__/bootstrap-table1/bootstrap-table.css">
        <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/bootstrap-table1/bootstrap-table.js"></script>
        <!-- put your locale files after bootstrap-table.js -->
        <script src="__PUBLIC__/bootstrap-table1/bootstrap-table-zh-CN.js"></script>
        <!-- x-editable -->
        <link href="__PUBLIC__/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <script src="__PUBLIC__/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!-- bootstrap extensions table-editable -->
        <script src="__PUBLIC__/bootstrap-table1/editable/bootstrap-table-editable.js"></script>
        <!-- 所有文件加载结束 -->

</head>
<body>
<div style="margin: 50px;">
    <button type="button" class="btn btn-info" onclick="window.open('/login/public/index.php/admin/Slide/show/id/{$id}','_self')">返回幻灯片管理</button>
    <br>
    <br>
    <table id="tb_user"></table>
</body>
<script>
    //php var
    var apiUrl = "{$API_URL}";
    var nid = "{$nid}";
    var loadDataUrl = apiUrl + "/imageload/nid/" +nid+"/id/"+{$id};
    var editUrl = apiUrl +"/imageedit";
    var keyIdName = "imageid";
    $table = $("#tb_user");

        $(function () {
            $table.bootstrapTable({
                toolbar: "#toolbar",
                idField: keyIdName,
                pagination:true,
                showRefresh:true,
                search:true,
                clickToSelect:true,
                queryParams:function (param) {
                    return{};
                },
                url:loadDataUrl,
                columns:[
                    {
                        field:"id",
                        title:"链接文章id"
                    },
                    {
                        field:"title",
                        title:"标题",
                        editable:{
                            type:"text",
                            title:"标题",
                            validate:function (v) {
                                if(!v) return '标题不能为空';

                            }
                        }
                    },
                    {
                        field:"image_url",
                        title:"链接",
                        editable:{
                            type:"text",
                            title:"链接"
                        }
                    },
                    {
                        field:"type",
                        title:"类型",
                        editable:{
                            type:"text",
                            title:"1为普通文章，2为直播"
                        }
                    },
                    {
                        field:"status",
                        title:"状态",                        editable:{
                            type:"text",
                            title:"1为有效,0为失效"
                        }
                    },
                    {
                        field:"ctime",
                        title:"创建日期"
                    }

                ],
                onEditableSave:function (field,row,oldValue,$el) {
                    $.ajax({
                        type:"post",
                        url: editUrl,
                        data:row,
                        dataType:'JSON',
                        success: function (data,status) {
                            if(status == "success"){
                                console.log(data);
                                alert('提交数据成功');
                            }
                        },
                        error:function () {
                            alert('编辑失败');
                        },
                        complete:function () {

                        }
                    });

                }
            });
        });
</script>
</html>