<!doctype html>
<html>
<head>
    <meta content="text/html; charset=utf8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</head>
<body>
</body>
<div class="row " style="overflow:scroll;overflow-x:hidden;overflow-y:hidden;margin:30px 0;">
    <div class="col-xs-12 ">
        <div class="panel panel-primary">
            <div class="panel-heading">form表单图片上传</div>
            <div class="panel-body" >
                <form method="post" action="Index.php/image" role="form" enctype="multipart/form-data">
                    <div class="form-group" >
                        <label class="control-label" for="exampleInputFile">上传图片</label><br/>
                        <input type="file" name="file" id="exampleInputFile">
                    </div>
                    <button type="submit" style="width:100%" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
