<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关联国家与关联项目更改</title>
    <!-- bootstrap bootstrap-table  jquery -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap-table1/bootstrap-table.css">
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap-table1/bootstrap-table.js"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="__PUBLIC__/bootstrap-table1/bootstrap-table-zh-CN.js"></script>

    <!-- x-editable -->
    <link href="__PUBLIC__/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="__PUBLIC__/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <!-- bootstrap extensions table-editable -->
    <script src="__PUBLIC__/bootstrap-table1/editable/bootstrap-table-editable.js"></script>
    <!-- 所有文件加载结束 -->
</head>
<body>
<div style="margin: 50px;">
    <!--<h1>关联国家与关联项目更改</h1>-->
    <button type="button" class="btn btn-info" onclick="window.open('http://localhost/login/public/index.php/gzck/Yayun2018/show/id/{$tid}','_self')">返回</button>
    <hr>
    <form id="formid" method="post" action="http://localhost/login/public/index.php/gzck/Yayun2018/change/tid/{$tid}" >
        <div class="form-group">
            <h3>{$new.title}</h3>
            <h3>{$new.sub_title}</h3>
        </div>
        <div class="form-group">
            <input type="hidden" name="newid" value="{$new.id}">
            <label>关联国家</label><br>
            {volist name="nation_list" id="vo"  mod="5" }
            <input type="checkbox"  name="map_a[]" value="{$vo.id}"
                   {if $vo.checked} checked
                   {/if} > {$vo.name}
            {eq name="mod" value="4"}<br/>{/eq}
            {/volist}
            <input type="button" name="" value="全部选择" onclick="allSet('map_a[]',true)" >
            <input type="button" name="" value="全选取消" onclick="allSet('map_a[]',false)" >
        </div>
        <div class="form-group">
            <label>关联项目</label><br>
            {volist name="item_list" id="vo"  mod="5" }
            <input type="checkbox"  name="map_b[]" value="{$vo.id}"
                   {if $vo.checked} checked
                   {/if} > {$vo.name}
            {eq name="mod" value="4"}<br/>{/eq}
            {/volist}
            <input type="button" name="" value="全部选择" onclick="allSet('map_b[]',true)" >
            <input type="button" name="" value="全选取消" onclick="allSet('map_b[]',false)" >
        </div>
        <div>
            <button class="btn btn-primary" type="submit" >提交</button>
        </div>
    </form>
</div>

<script>
    function allSet(str,flag) {
        console.log(str);
        var cbox = document.getElementsByName(str);
        console.log(cbox);
        for(var i=0;i<cbox.length;i++){
            cbox[i].checked = flag;
        }
    }
</script>
</body>
</html>